apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:  
    wistefan/rollout-injecting-webhook: ignore
  name: postgres
spec:
  selector:
    matchLabels:
      app: postgres
  replicas: 1
  template:
    metadata:
      labels:
        app: postgres
    spec:
      serviceAccount: scorpio
      serviceAccountName: scorpio
      containers:
      - name: postgres
        image: postgis/postgis:10-3.2
        imagePullPolicy: IfNotPresent
        env:
        - name: POSTGRES_USER
          value: "ngb"
        - name: POSTGRES_PASSWORD
          value: "ngb"
        - name: POSTGRES_DB
          value: "ngb"