keycloak:
  image:
    repository: in2workspace/in2-dome-keycloak
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: v1.1.1

  fullnameOverride: keycloak
  nameOverride: keycloak

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prd-issuer
    hosts:
      - host: keycloak.dome-marketplace.eu
        paths:
          - path: /
            pathType: Prefix
    tls:
      - hosts:
          - keycloak.dome-marketplace.eu
        secretName: keycloak-tls-sec

  keycloak:
    admin:
      existingSecret:
        enabled: true
        name: keycloak-secret
        passwordKey: admin-password
    hostname:
      url:
        # if deployed locally set to false
        externalService: true
        scheme: https
        # change by the external url or set to localhost if deployed locally
        host: keycloak.dome-marketplace.eu
        # internalPort is only used if externalService is false
        internalPort: 30002
        path: /
      adminUrl:
        # if deployed locally set to false
        externalService: true
        scheme: https
        # change by the external url or set to localhost if deployed locally
        host: keycloak.dome-marketplace.eu
        # internalPort is only used if externalService is false
        internalPort: 30002
        path: /

  db:
    host: pg-3oc0026pnl3p1gi0.postgresql.de-fra.ionos.com
    port: 5432
    externalService: true
    name: iam
    username: iam_keycloak
    ssl:
      enabled: true
      mode: require
    existingSecret:
      enabled: true
      name: keycloak-secret
      passwordKey: ionos-db-password

  postgresKeycloak:
    auth:
      existingSecret: keycloak-secret
      secretKeys:
        adminPasswordKey: db-password
        userPasswordKey: db-password
    global:
      security:
        allowInsecureImages: true
    image:
      registry: docker.io
      repository: bitnamilegacy/postgresql
      tag: 17.2.0-debian-12-r8
      pullPolicy: IfNotPresent