# Repository Owner
*       @Gerbinix @bialask-daiteap




#PRD reviewer
/applications_prd/ @Gerbinix @bialask-daiteap
/ionos_prd/ @Gerbinix @bialask-daiteap

#DEV reviewer
/applications_dev/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto
/ionos_dev/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto
/applications_dev2/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto
/ionos_dev2/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto

#SBX reviewer
/applications_sbx/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto @fneto-ubiwhere
/ionos_sbx/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto @fneto-ubiwhere


# Engineering service list 
/ionos_sbx/billing/ @pasquy73 @cdizenzo
/ionos_sbx/search-engine @pasquy73 @cdizenzo
