# Repository Owner
*       @Gerbinix @bialask-daiteap



##DEVOPS

#PRD reviewer
/applications_prd/ @Gerbinix @bialask-daiteap
/ionos_prd/ @Gerbinix @bialask-daiteap

#DEV reviewer
/applications_dev/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto
/ionos_dev/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto
/applications_dev2/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto
/ionos_dev2/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto

#SBX reviewer
/applications_sbx/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto @fneto-ubiwhere @emmanuel-quevillon-outscale
/ionos_sbx/ @Gerbinix @bialask-daiteap @maxmarii @PolitiRoberto @fneto-ubiwhere @emmanuel-quevillon-outscale



##APPLICATION OWNER

# PRD service list
/ionos_prd/argocd/ @bialask-daiteap
/ionos_prd/billing/ @pasquy73 @cdizenzo
/ionos_prd/cert-manager/ @bialask-daiteap
/ionos_prd/chatbot/ @kingmanfri
/ionos_prd/cs-identity/ @Sh3rd3n
/ionos_prd/domains/ @bialask-daiteap
/ionos_prd/dome-certification/ @intentodepirata
/ionos_prd/dome-trust/
/ionos_prd/external-dns-ionos-webhook/ @bialask-daiteap
/ionos_prd/falco/ @groundnuty
/ionos_prd/grafana-dashboards/ @groundnuty
/ionos_prd/in2/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2
/ionos_prd/ingress/ @bialask-daiteap
/ionos_prd/knowledgebase/ @BazRoe
/ionos_prd/kube-prometheus-stack/ @groundnuty
/ionos_prd/loki-distributed/ @groundnuty
/ionos_prd/marketplace/
/ionos_prd/marketplace/bae/ @fdelavega
/ionos_prd/marketplace/iam/verifier/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2
/ionos_prd/marketplace/iam/trusted-issuers-list/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_prd/marketplace/iam/mysql/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_prd/namespaces/ @bialask-daiteap
/ionos_prd/promtail/ @groundnuty
/ionos_prd/sealed-secrets/ @bialask-daiteap
/ionos_prd/search-engine/ @pasquy73 @cdizenzo
/ionos_prd/zammad/ @kingmanfri

# DEV service list
/ionos_dev/argocd/ @bialask-daiteap
/ionos_dev/cert-manager/ @bialask-daiteap
/ionos_dev/cs-identity/ @Sh3rd3n
/ionos_dev/marketplace/
/ionos_dev/marketplace/iam/verifier/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2 
/ionos_dev/marketplace/iam/trusted-issuers-list/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_dev/marketplace/iam/mysql/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_dev/zammad/ @kingmanfri

# DEV2 service list
/ionos_dev2/analytics/ @peppasnet
/ionos_dev2/argocd/ @bialask-daiteap
/ionos_dev2/billing/ @pasquy73 @cdizenzo
/ionos_dev2/cert-manager/ @bialask-daiteap
/ionos_dev2/chatbot/ @kingmanfri
/ionos_dev2/cs-identity/ @Sh3rd3n
/ionos_dev2/domains/ @bialask-daiteap
/ionos_dev2/dome-certification/ @intentodepirata
/ionos_dev2/in2/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2
/ionos_dev2/knowledgebase/ @BazRoe
/ionos_dev2/marketplace/
/ionos_dev2/marketplace/bae/ @fdelavega
/ionos_dev2/marketplace/iam/verifier/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2
/ionos_dev2/marketplace/iam/trusted-issuers-list/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_dev2/marketplace/iam/mysql/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_dev2/search-engine/ @pasquy73 @cdizenzo
/ionos_dev2/zammad/ @kingmanfri

# SBX service list
/ionos_sbx/analytics/ @peppasnet
/ionos_sbx/argocd/ @bialask-daiteap
/ionos_sbx/billing/ @pasquy73 @cdizenzo
/ionos_sbx/cert-manager/ @bialask-daiteap
/ionos_sbx/chatbot/ @kingmanfri
/ionos_sbx/cs-identity/ @Sh3rd3n
/ionos_sbx/domains/ @bialask-daiteap
/ionos_sbx/dome-certification/ @intentodepirata
/ionos_sbx/dome-trust/
/ionos_sbx/external-dns-ionos-webhook/ @bialask-daiteap
/ionos_sbx/falco/ @groundnuty
/ionos_sbx/grafana-dashboards/ @groundnuty
/ionos_sbx/in2/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2
/ionos_sbx/knowledgebase/ @BazRoe
/ionos_sbx/kube-prometheus-stack/ @groundnuty
/ionos_sbx/loki-distributed/ @groundnuty
/ionos_sbx/marketplace/
/ionos_sbx/marketplace/bae/ @fdelavega
/ionos_sbx/marketplace/iam/verifier/ @oriolcanades @albertrodriguezin2 @rogermiretin2 @rubenmodamioin2
/ionos_sbx/marketplace/iam/trusted-issuers-list/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_sbx/marketplace/iam/mysql/ @alejandro-nieto-git @alejandroalffer @urielrp
/ionos_sbx/marketplace/tailored-offerings/ @kingmanfri @BazRoe
/ionos_sbx/namespaces/ @bialask-daiteap
/ionos_sbx/promtail/ @groundnuty
/ionos_sbx/search-engine/ @pasquy73 @cdizenzo
/ionos_sbx/zammad/ @kingmanfri
