# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# to following users will be requested for
# review when someone opens a pull request.
*       @Gerbinix @bialask-daiteap

# Engineering service list 
/ionos_sbx/billing/ @pasquy73 @cdizenzo
/ionos_sbx/search-engine @pasquy73 @cdizenzo
