global:
  domain: "wallet.dome-marketplace-sbx.org"
  ingress:
    enabled: true
    className: "nginx"
    labels: {}
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
      nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    enableTLS: true
    clusterIssuer: "letsencrypt-sbx-issuer"

dome-wallet:
  ## configuration for the wallet-backend
  dome-wallet-backend:
    fullNameOverride: "dome-wallet-backend"
    image:
      repository: in2workspace/eudistack-wallet-api
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.0.7
      pullPolicy: Always
    ## deployment specific configuration
    app:
      logLevel: INFO
      authServer:
        externalUrl: https://keycloak.dome-marketplace-sbx.org/realms/dome-wallet
        internalUrl: http://keycloak:80/realms/dome-wallet
      cors:
        allowedOrigins: "https://wallet.dome-marketplace-sbx.org, wallet.example-secondary-domain.org"
      vault:
        provider: hashicorp
        # host needs to match with the service name of the vault server
        url: http://wallet-vault-server:8200
        secretsMount: kv
        existingSecret:
          # -- should an existing secret be used
          enabled: true
          # -- name of the secret
          name: wallet-vault-unseal-secret
          # -- key to retrieve the token from
          key: root
      ebsiTest:
        url: http://keycloak:80/realms/dome-wallet/protocol/openid-connect/token
        client:
          id: user-registry-client
          existingSecret:
            # -- should an existing secret be used
            enabled: true
            # -- name of the secret
            name: wallet-secret
            # -- key to retrieve the password from
            key: client-secret
        userData:
          name: admin
          existingSecret:
            # -- should an existing secret be used
            enabled: true
            # -- name of the secret
            name: wallet-secret
            # -- key to retrieve the password from
            key: user-password
      db:
        schema: wallet
        host: pg-75qkrjg6i4d7tlg2.postgresql.de-txl.ionos.com
        port: 5432
        externalService: true
        name: identity
        username: identity_wallet
        ssl:
          enabled: true
          mode: require
        existingSecret:
          enabled: true
          name: wallet-secret
          key: ionos-db-password

  ## configuration for the dome-wallet-ui
  dome-wallet-frontend:
    fullNameOverride: "dome-wallet-frontend"
    image:
      pullPolicy: Always
      repository: in2workspace/eudistack-wallet-ui
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.0.14
    ## deployment specific configuration
    app:
      logsEnabled: true
      colors:
        primary: "#00ADD3"
        primaryContrast: "#ffffff"
        secondary: "#50c8ff"
        secondaryContrast: "#000000"
      assets:
        baseUrl: "https://cdn.jsdelivr.net/gh/in2workspace/eudistack-assets@main/DOME"
        logoPath: "dome-logo.png"
        faviconPath: "dome-favicon.png"
      defaultLang: "en"
      walletApi:
        externalUrl: https://wallet.dome-marketplace-sbx.org
        # ws = sin certificado, wss = con certificado
        websocketExternalUrl: wss://wallet.dome-marketplace-sbx.org
      iam:
        externalUrl: https://keycloak.dome-marketplace-sbx.org/realms/dome-wallet

  ## configuration for the dome-wallet-keycloak
  dome-wallet-keycloak:
    # -- should be enabled?
    enabled: false

  ## configuration of postgres to be used for the blockchain-connector - see https://github.com/bitnami/charts/tree/main/bitnami/postgresql for details
  dome-wallet-keycloak-postgresql:
    # -- should the postgresql deployment be enabled
    enabled: false

  ## configuration of postgres
  dome-wallet-postgresql:
    # -- should the postgresql deployment be enabled
    enabled: false
