apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/name: argocd-rbac-cm
    app.kubernetes.io/part-of: argocd
  name: argocd-rbac-cm
  namespace: argocd
data:
  policy.default: role:readonly
  # subject in argocd jwt
  policy.csv: |
    g, CggxNzE4MTU4MRIGZ2l0aHVi, role:admin