apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-module
  namespace: analytics
  labels:
    app.kubernetes.io/instance: backend-module
    app.kubernetes.io/name: backend-module
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: backend-module
      app.kubernetes.io/name: backend-module
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: backend-module
        app.kubernetes.io/name: backend-module
    spec:
      containers:
        - name: backend-module
          image: docker.ramp.eu/dome/dome-matomo-backend-app@sha256:69bf2e03ba5f521f712a811ec8a506e4e6ba13da61f8a53338b28f1778bf0e18
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
