zammad:
  image:
    repository: kingmanfri/dome_ticketing_zammad
    tag: "1.0"
    pullPolicy: Always

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-dev2-issuer
    hosts:
      - host: ticketing.dome-marketplace-dev2.org
        paths:
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: ticketing-tls-secret
        hosts:
          - ticketing.dome-marketplace-dev2.org

  zammadConfig:
    railsserver:
      webConcurrency: 6
      resources:
        requests:
          cpu: 1000m
          memory: 2Gi
        limits:
          cpu: 2000m
          memory: 4Gi

      readinessProbe:
        initialDelaySeconds: 30
        periodSeconds: 10
        timeoutSeconds: 10
        failureThreshold: 3

      livenessProbe:
        initialDelaySeconds: 60
        periodSeconds: 30
        timeoutSeconds: 10
        failureThreshold: 5

      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: false
        privileged: false

    websocket:
      resources:
        requests:
          cpu: 500m
          memory: 1Gi
        limits:
          cpu: 1000m
          memory: 2Gi

      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
        readOnlyRootFilesystem: false
        privileged: false

  autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 6
    targetCPUUtilizationPercentage: 70
    targetMemoryUtilizationPercentage: 80

  elasticsearch:
    coordinating:
      replicaCount: 0
    ingest:
      replicaCount: 0

    master:
      replicaCount: 1
      heapSize: 2g
      masterOnly: false
      resources:
        requests:
          cpu: 1000m
          memory: 3Gi
        limits:
          cpu: 2000m
          memory: 4Gi

    data:
      replicaCount: 1
      heapSize: 4g
      resources:
        requests:
          cpu: 1500m
          memory: 6Gi
        limits:
          cpu: 3000m
          memory: 8Gi

  # Specific configuration for PostgreSQL subchart
  postgresql:
    primary:
      podAnnotations:
        backup.velero.io/backup-volumes: data