zammad:

  image:
    repository: kingmanfri/dome_ticketing_zammad
    tag: "1.0"
    pullPolicy: Always

  ingress:
    enabled: true
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-sbx-issuer
    hosts:
      - host: ticketing.dome-marketplace-sbx.org
        paths: 
          - path: /
            pathType: ImplementationSpecific
    tls:
      - secretName: ticketing-tls-secret
        hosts:
          - ticketing.dome-marketplace-sbx.org

    zammadConfig:

      railsserver:

        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
          readOnlyRootFilesystem: false
          privileged: false

  elasticsearch:
    clusterName: zammad
    coordinating:
      replicaCount: 0
    data:
      replicaCount: 1
      resources:
        requests:
          cpu: 1000m
          memory: 4Gi
        limits:
          cpu: 2000m
          memory: 6Gi
      heapSize: 3g
    ingest:
      replicaCount: 0
    master:
      heapSize: 1g
      masterOnly: false
      replicaCount: 1
      resourcesPreset: null
      resources:
        requests:
          cpu: 500m
          memory: 2Gi
        limits:
          cpu: 1000m
          memory: 3Gi