dome-issuer:

  global:
    domain: "issuer.dome-marketplace-sbx.org"
    ingress:
      enabled: true
      className: "nginx"
      labels: { }
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "false"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
      enableTLS: true
      clusterIssuer: "letsencrypt-sbx-issuer"

  dome-issuer-backend:
    fullNameOverride: "dome-issuer-backend"
    image:
      repository: in2workspace/in2-issuer-backend
      # Overrides the image tag whose default is the chart appVersion.
      tag: v2.0.1-snapshot
      pullPolicy: Always
    ingressIssuerApi:
      enabled: true
      className: nginx
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-sbx-issuer
        nginx.ingress.kubernetes.io/rewrite-target: /vci/v1/issuances
      hosts:
        - host: issuer.dome-marketplace-sbx.org
          paths:
            - path: /issuer-api/vci/v1/issuances
              pathType: ImplementationSpecific
      tls:
        - hosts:
            - issuer.dome-marketplace-sbx.org
          secretName: issuer-tls-secret
    app:
      logLevel:
        app: DEBUG
        security: INFO
      url: https://issuer.dome-marketplace-sbx.org
      issuerFrontendUrl: https://issuer.dome-marketplace-sbx.org
      knowledgeBase:
        walletGuideUrl: "https://knowledgebase.dome-marketplace-sbx.org/books/dome-digital-wallet-user-guide"
        uploadCertificationGuideUrl: "https://knowledgebase.dome-marketplace-sbx.org"
      trustFrameworkUrl: "http://trusted-issuers-list.marketplace.svc.cluster.local:8080"
      verifierUrl: "https://verifier.dome-marketplace-sbx.org"
      mail:
        host: smtp.ionos.de
        port: 587
        existingSecret:
          enabled: true
          name: issuer-secret
          userKey: username
          passwordKey: password
        properties:
          mail:
            smtp:
              auth: true
              starttls:
                enable: true
              ssl:
                trust: smtp.ionos.de
      remoteSignature:
        existingSecret:
          enabled: true
          name: issuer-secret
          clientId: client-id
          clientSecret: client-secret
          credentialId: credential-id
          credentialPassword: credential-password
        # types allowed: server, cloud
        type: cloud
        url: https://dts-component-rdss-csc.ace-api.digitelts.com
      authServer:
        provider: keycloak
        externalUrl: https://keycloak.dome-marketplace-sbx.org
        internalUrl: http://keycloak:80
        realm: dome-issuer
        client:
          clientId: issuer-api-client
          username: issuer-api-user
          existingSecret:
            enabled: true
            name: issuer-secret
            clientSecretKey: authServerClientSecret
            clientPasswordKey: issuer-api-user-password
      defaultSigner:
        existingSecret:
          enabled: true
          name: issuer-secret
          commonName: common-name
          country: country
          email: email
          organizationIdentifier: organization-identifier
          organization: organization
          serialNumber: serial-number
      issuerIdentity:
        existingSecret:
          enabled: true
          name: issuer-secret
          vc: vc
          privateKey: private-key
          credentialDidKey: did-key
      cors:
        default:
          allowedOrigins: "https://issuer.dome-marketplace-sbx.org"
        external:
          allowedOrigins: "https://issuer.dome-marketplace-sbx.org, https://dome-certification.dome-marketplace-sbx.org"
      vault:
        url: http://wallet-vault-server:8200
        existingSecret:
          enabled: true
          name: wallet-vault-unseal-secret
          key: root
      db:
        host: issuer-postgres
        port: 5432
        externalService: false
        name: issuer
        schema: issuer
        username: postgres
        existingSecret:
          enabled: true
          name: issuer-secret
          key: db-password

  dome-issuer-frontend:
    fullNameOverride: "dome-issuer-frontend"
    image:
      repository: in2workspace/in2-issuer-ui
      # Overrides the image tag whose default is the chart appVersion.
      tag: v1.13.1
      pullPolicy: Always
    app:
      colors:
        primary: "#2d58a7"
        primaryContrast: "#ffffff"
        secondary: "#2cb6b2"
        secondaryContrast: "#dde6f6"
      logoSrc: "dome-issuer.png"
      faviconSrc: "DOME_Icon.png"
      keycloakUrl: "https://keycloak.dome-marketplace-sbx.org/realms/dome-issuer"
      backendUrl: "https://issuer.dome-marketplace-sbx.org"
      walletUrl: "https://wallet.dome-marketplace.eu"
      knowledgeBaseUrl: "https://knowledgebase.dome-marketplace-sbx.org"

  dome-issuer-keycloak:
    enabled: false

  dome-issuer-postgresql:
      # -- should the postgresql deployment be enabled
      enabled: true
      # -- overrides the generated name, provides stable service names - this should be avoided if multiple instances are available in the same namespace
      fullnameOverride: issuer-postgres
      # -- overrides the generated name, provides stable service names - this should be avoided if multiple instances are available in the same namespace
      nameOverride: issuer-postgres
      ## auth configuration for the database
      auth:
        # -- username to be used
        username: postgres
        # -- should the default postgres user be enabled
        enablePostgresUser: true
        # -- password to be used
        existingSecret: issuer-secret
        secretKeys:
          adminPasswordKey: db-password
          userPasswordKey: db-password
      ## configuration of the postgres primary replica
      primary:
        # Configuration for Velero backup
        annotations:
          backup.velero.io/backup-volumes: data
        podAnnotations:
          backup.velero.io/backup-volumes: data
        ## provide db initialization
        initdb:
          ## provide scripts for initialization
          scripts:
            # -- create the database
            create.sh: |
              psql postgresql://postgres:${POSTGRES_PASSWORD}@localhost:5432 -c "CREATE DATABASE issuer;"


  dome-issuer-keycloak-postgresql:
      # -- should the postgresql deployment be enabled
      enabled: false