apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-module
  namespace: analytics
  labels:
    app.kubernetes.io/instance: backend-module
    app.kubernetes.io/name: backend-module
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/instance: backend-module
      app.kubernetes.io/name: backend-module
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: backend-module
        app.kubernetes.io/name: backend-module
    spec:
      containers:
        - name: backend-module
          image: docker.ramp.eu/dome/dome-matomo-backend-app@sha256:bc8766577f355d79ee5a969d4e44358c9a16df8abde89aa54c024c587f3c4582
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
