image:
  repository: n8nio/n8n
  tag: latest
  pullPolicy: Always

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-sbx-issuer
  hosts:
    - host: cs-n8n.dome-marketplace-sbx.org
      paths:
        - /
  tls:
    - secretName: n8n-tls-secret
      hosts:
        - cs-n8n.dome-marketplace-sbx.org

main:
  persistence:
    enabled: true
    type: dynamic
    size: 1Gi

valkey:
  enabled: false